@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --YELLOW: #F4D04E;
  --GRAY-950: #111111;
  --GRAY-500: #6B6B6B;
  --WHITE: #FFFFFF;

  /* GRADIENTS */

  /* TYPOGRAPHY */
  --FF: "Figtree", serif;

  /* TEXT STYLE */
  --TEXT-PRESET-1: bold 1.5rem/150% var(--FF);
  --TEXT-PRESET-2: normal 1rem/150% var(--FF);
  --TEXT-PRESET-3: normal .875rem/150% var(--FF);
  --TEXT-PRESET-3-BOLD: bold .875rem/150% var(--FF);

  /* MOBILE */
  --TEXT-PRESET-3-BOLD-MOB: bold .75rem/150% var(--FF);
  --TEXT-PRESET-3-MOB: normal .75rem/150% var(--FF);
  --TEXT-PRESET-1-MOB: bold 1.25rem/150% var(--FF)
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  background-color: var(--YELLOW);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
}

/* CARD */
.card-blog {
    width: 327px;
    height: 501px;
    border: .0625rem solid var(--GRAY-950);
    border-radius: 1.25rem;
    background-color: var(--WHITE);
    margin: 9.75rem 1.5rem 9.6875rem 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    box-shadow: .5rem .5rem 0rem 0rem #000000;
}

/* TOP IMAGE */
.image img {
    width: 279px;
    height: 200px;
    object-fit: cover;
    border-radius: .625rem;
    overflow: hidden;
}

/* CARD CONTENT */
.content {
    display: flex;
    flex-flow: column;
    gap: .75rem;
}

.content__category a {
    font: var(--TEXT-PRESET-3-BOLD-MOB);
    color: var(--GRAY-950);
    background-color: var(--YELLOW);
    padding: .25rem .75rem;
    border-radius: .25rem; 
}

.content__publish-date {
    font: var(--TEXT-PRESET-3-MOB);
    color: var(--GRAY-950);
}

a .content__title {
    font: var(--TEXT-PRESET-1-MOB);
    color: var(--GRAY-950);
}

.content__description {
    font: var(--TEXT-PRESET-3);
    color: var(--GRAY-500);
}

/* AUTHOR */
.author {
    width: 129px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: .75rem;
}

.author__image {
    width: 32px;
    height: 32px;
}

.author__name {
    font: var(--TEXT-PRESET-3-BOLD);
    color: var(--GRAY-950);
}

/* TABLET */
@media screen and (min-width: 768px) {
    /* CARD */
    .card-blog {
        width: 384px;
        height: 522px;
        margin: 13.6875rem 33rem;
    }

    /* TOP IMAGE */
    .image img {
        width: 100%;
    }

    /* CARD CONTENT */
    a {
        font: var(--TEXT-PRESET-3-BOLD);
    }

    .content__publish-date {
        font: var(--TEXT-PRESET-3);
    }

    a .content__title {
        font: var(--TEXT-PRESET-1);
    }

    .content__description {
        font: var(--TEXT-PRESET-2);
    }

}

@media screen and (min-width: 992px) {
    .content__title:hover, 
    .content__title:focus-visible {
        color: var(--YELLOW);
    }
}